.appLayout {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
    background-color: #f5f8fa;
    overflow: hidden;
}
.sidebar {
    background-color: #1f2937;
    color: #fff;
}
.mainContent {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    overflow: hidden;
}
.pageContent {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

/* Header Style */
.headerContainer {
    height: var(--app-header-height);
    background-color: #fff;
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.headerName {
    margin-bottom: 8px;
}
.calendarIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #898f9a;
    
}
.date {
    display: flex;
    align-items: center;
    color: #898f9a;
    gap: 12px;
    font-size: 18px;
}
.currentBalance {
    color: #868687;
    font-size: 14px;
    text-align: right;
}
.headerAmount {
    color: #079669;
    font-size: 32px;
    font-weight: bold;
}
.sidebarSection {
    padding: 1rem;
}

/* Sidebar Style*/
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 1.5rem;
    height: var(--app-header-height);
}
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: linear-gradient(to bottom right, #34d399, #14b8a6);
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(52, 211, 153, 0.3);
}
.title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #ffffff, #cbd5e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
    padding: 1rem;
    padding-top: 1.5rem;
}
.sidebarButton {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem;
    background-color: transparent;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: all .2s ease;
}
.navIcon {
    height: 28px;
    width: 28px
}
.active {
    background: linear-gradient(to right, #10b981, #14b8a6);
    box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.3);
    transform: scale(1.05);
}
.sidebarButton:hover {
  background-color: #374151;
}
.divider {
    border: 1px solid #334155;
}