.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #f5f5f5;
}
.card {
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 2.5rem
}
.sectionHeader {
    margin-bottom: 12px;
    color: #1f2937,
}
.subtitle {
    color: #6b7280;
    font-size: 15px;
    margin-bottom: 2rem;
}
.sections {
    margin-bottom: 2rem;
}
.summaryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.summaryContainer {
    border: 1px solid plum;
    display: flex;
    gap: 1rem;
    border-radius: .75rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid #f3f4f6;
}
.balanceBg {
  background-color: #f5f3ff;
}

.creditBg {
  background-color: #ecfdf5;
}

.debitBg {
  background-color: #fef2f2;
}
.summaryContainer:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
.categoryIcon {
    width: 40px;
    height: 40px;
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.summaryTitle {
    margin-bottom: .5rem;
}
.summarySubtitle {
    font-weight: 700;
    font-size: 20px;
}
.creditText{
    color: #0bb980;
}
.debitText {
    color: #ef4345
}
.dateHeader {
    margin: 1.5rem 0;
    font-size: 18px;
    color: #6b7280;
    font-weight: 600;
}
.transactionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    gap:1.5rem;
    border-radius: 1rem;
    background-color: #f9fafb;
    border: 1px solid #f3f4f6;
    margin-bottom: .8rem;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.iconContainer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.description {
    font-weight: 700;
}
.categoryName {
    color: #6b7280;
    font-size: 14px;
}
.amountText {
    font-weight: 700;
}
.transactionHeight {
    max-height: 600px;
}